:root {
    --font-size-x-small: 10px;
    --font-size-small: 12px;
    --font-size-medium: 13px;
    --font-size-title: 16px;
    --font-size-large: 20px;
    --light-color: #ccc;
    --medium-color: #6a6767;
    --dark-black-color: #000;
    --light-bg-color: #cccccc5c;
    --warning-color: red;
    --medium-bg-color: #add8e633;
    --list-shadow-color: #2196f336;
    --lightgrey-bg-color: #EFF0EB;
    --list-bg-color: #EDF4FE;
    --page-bg-color: aliceblue;
    --highlight-color: #E8BA26;
    --white-color: #ffffff;
    --body-bg-dark-color: #000000c7;
    --header-bg-dark-color: #000000d9;
    --whiteshade-bg-color: #F8F8F6;
    --ticket-highlight-color: #2576f5;
    --ticket-status-bg-color: #2196f308;
    --ticketlist-shadow-color: #2196f352;
    --link-color: #cd7f05;
    --hover-grey-color: #5656563b;
    --hover-font-color: #fd9b02;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    background-color: var(--body-bg-dark-color);
    height: 100vh;
}

.container {
    height: 100%;
    width: 100%;
}

.header {
    max-height: 45px;
    display: flex;
    background-color: var(--header-bg-dark-color);
}

.navbar,
.content-navbar {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.content-navbar {
    border-left-style: none;
}

.logo {
    height: 45px;
    padding: 5px 10px;
    margin: 0px 5px;
    object-fit: contain;
    cursor: pointer;
    border-right: 1px solid var(--white-color);
}

.navlinks,
.content-navlinks {
    padding: 10px 5px;
    margin: 0px 5px;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.navlinks:after,
.content-navlinks:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
}

.navlinks:after {
    background-color: var(--white-color);
}

.content-navlinks:after {
    background-color: var(--medium-color);
}

.content-navlinks.active:after,
.content-navlinks:hover:after {
    width: 100%;
}

.navlinks:hover:after,
.navlinks.active:after {
    width: 100%;
}

.navlinks a,
.content-navlinks a {
    display: inline-block;
    text-decoration: none;
    color: var(--white-color);
    font-size: var(--font-size-medium);
}

.content-navlinks a {
    color: var(--dark-black-color);
}

.content-area {
    margin-top: 5px;
}

.content-container {
    display: flex;
    height: calc(100vh - 50px);
    background-color: var(--page-bg-color);
}

.list-container {
    color: var(--white-color);
    background-color: var(--body-bg-dark-color);
    width: 210px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
}

.flex {
    flex-grow: 1;
}

.categories-title,
.starred-views {
    display: flex;
    align-items: center;
    padding: 12px 15px;
}

.starred-view-container {
    margin-top: 5px;
}

.starred-views {
    padding: 8px 15px;
}

.categories-title:hover,
.starred-views:hover {
    background-color: var(--hover-grey-color);
    color: var(--hover-font-color);
    border-left: 2px solid var(--light-color);
    cursor: pointer;
}

.category-name {
    font-size: var(--font-size-small);
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category-icons {
    margin-right: 5px;
}

.plus-icon-div,
.count-info {
    padding: 0px 5px;
    font-size: var(--font-size-x-small);
}

.bold-text {
    font-size: var(--font-size-medium);
    font-weight: 700;
}

.font-highlight {
    text-decoration: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-icon-div {
    float: right;
    padding-right: 15px;
}

.contact-info {
    margin: 0px 5px;
    box-shadow: 0px 1px 3px 1px var(--light-color);
    border-radius: 5px;
    background-color: var(--white-color);
}

.text-only {
    padding-bottom: 5px;
}

.shrink-arrow {
    background-color: var(--hover-grey-color);
}

.icon-div,
.left-hidden-div,
.info-div {
    width: max-content;
    display: flex;
    flex-direction: column;
}

.info-div {
    max-width: 350px;
    width: 330px;
    transition: all 0.3s linear;
    gap: 10px;
    overflow: hidden;
    background-color: var(--whiteshade-bg-color);
}

.info-div.hide {
    max-width: 0px;
}

.info-div.hide .title-css {
    opacity: 0;
}

.info-containers {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.icon-div {
    background-color: var(--whiteshade-bg-color);
}

.icon-div {
    border-inline-end-width: 2px;
    border-inline-end-style: solid;
    border-inline-end-color: var(--light-bg-color);
}

.edit-icon-div,
.content-icon-div,
.classic-icon-div,
.message-div-icons {
    display: flex;
    border: 1px solid var(--light-color);
    height: 30px;
    width: 30px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.message-div-icons {
    border: none;
}

.span-err {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    color: var(--warning-color);
    background-color: #ff00000f;
    padding: 5px;
    font-size: var(--font-size-x-small);
}

.classic-icon-div {
    width: max-content;
}

.cv-icon {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}

.font-set {

    font-size: var(--font-size-small);
}

.f-a-icon {
    position: relative;
}

.abs-icons {
    position: absolute;
    top: -6px;
    left: 50%;
    background-color: white;
    border-radius: 50%;
    font-size: 10px;
    padding: 3px;
}

.mg {
    margin: 0px !important;
}

.cv {
    margin: 0 0 0 10px !important;
}

/*.angle-left {
    height: 40px;
    background-color: var(--dark-black-color);
    border-radius: 0px 5px 5px 0px;
}

 .angle-left-icon {
    color: var(--white-color);
    padding-bottom: 3px;
}

.angle-left.rotate .angle-left-icon {
    rotate: 180deg;
} */

.left-hidden-div {
    padding: 20px 5px 0px 0px;
    background-color: var(--lightgrey-bg-color);
}

.content-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    position: relative;
    background-color: var(--white-color);
}

.icons {
    padding: 5px 10px;
    text-decoration: none;
    font-size: var(--font-size-large);
    text-decoration: none;
    margin: 5px 0px;
    color: var(--dark-black-color)
}

.icons:hover,
.icons.active {
    border-inline-end-width: 2px;
    border-inline-end-style: solid;
    border-inline-end-color: var(--medium-color);
    background-color: var(--medium-bg-color);
}

/* .title {
    align-items: center;
    border-bottom: 1px solid var(--light-bg-color);
    background-color: var(--white-color);
} */

.info-div .title-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0px 10px;
}

/* .title-name {
    font-size: var(--font-size-medium);
}

.title-list .arrows {
    border: none;
}

.title-list .arrows.active {
    rotate: 180deg;
    padding-bottom: 10px;
} */

.globe-icon {
    font-size: 20px;
}

.info-containers {
    flex-grow: 1;
}
/* 
.contact-details.hide,
.key-details.hide {
    max-height: 0px;
}

.contact-details,
.key-details {
    font-size: var(--font-size-small);
    padding: 0px 10px;
    max-height: 1000px;
    transition: max-height 0.3s linear;
    overflow: hidden;
}

.contact-details .name {
    font-size: var(--font-size-medium);
    font-weight: 500;
}

.email-id {
    padding-bottom: 10px;
} */

.portal-subdiv,
.ticket-id {
    display: inline-block;
    border-bottom: 1px dashed var(--light-color);
    margin-block: 5px;
    cursor: pointer;
}

/* .req-owner {
    font-weight: 500;
    font-size: var(--font-size-medium)
} */

/* .pick {
    font-size: var(--font-size-small);
    border-radius: 10px;
    background-color: var(--light-color);
    padding: 2px 10px;
    margin-left: 5px;
    background-color: var(--light-bg-color);
}

.ua-circle {
    border: 1px solid var(--light-color);
    border-radius: 50%;
    padding: 5px;
} */

/* .review-info {
    padding: 5px 10px;
    border: 1px solid var(--light-color);
    border-radius: 5px;
    display: inline;
    color: var(--warning-color);
} */

/* .key-child-div {
    padding: 10px 0px;
}

.ua-ut {
    padding-top: 10px;
}

.status-div {
    padding-bottom: 10px;
} */

/* .due-info {
    color: var(--warning-color);
} */

/* .status-select {
    padding: 5px 10px;
    outline: none;
    width: 100%;
    border: none;
    border-bottom: groove;
}

.due-status-div {
    padding-bottom: 5px;
} */

.content-header {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 50px 10px 50px;
    justify-content: space-between;
}

.content-header div,
.actions,
.content-top,.messege-icons {
    display: flex;
    align-items: center;
}

.messege-icons{
    visibility: hidden;
}
.messages-list:hover .messege-icons{
    visibility: visible;
}

.content-top,.messages-content {
    flex-grow: 1;
}

.content-title .content-name {
    font-weight: 700;
    margin-right: 10px;

}

.logo-div {
    margin: 0px 5px;
}

.logo-div .content-logo {
    font-size: var(--font-size-medium);
    margin-right: 10px;
    color: var(--highlight-color);

}

.globe-logo-div {
    display: flex;
    height: 45px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 45px;
    border: 1px groove lightgray;
    margin: auto 20px;
}

.actions div {
    margin-right: 5px;
}

.hourglass {
    color: var(--hover-font-color);
}

.id-card {
    color: lightgreen;
}

.content-icons {
    font-size: var(--font-size-small);
    margin: 0px 10px;
    cursor: pointer;
}

.fa-pause {
    font-size: var(--font-size-x-small);
}

.fa-caret-right {
    font-size: var(--font-size-medium);
}

.reply-div {
    border-radius: 5px;
    border: 1px groove lightgray;
}

.total-count {
    color: var(--hover-font-color);
    font-size: var(--font-size-small);
    font-weight: 600;
    margin-right: 5px;
}

/* .options-list-div {
    background-color: var(--white-color);
    position: absolute;
    top: 100%;
    width: 100%;
    border-radius: 3px;
    font-size: var(--font-size-medium);
    z-index: 99;
} */

.reply-btn:hover .options-list,
.reply-div:hover .options-list {
    display: block;
}

/* .options-list {
    display: none;
    list-style-type: none;
    width: 100%;
    text-align: center;
}

.options-list .options,
.ellipsis-dropdown .ellipsis-options {
    padding: 5px;
    cursor: pointer;
}

.options-list .options:hover,
.ellipsis-options:hover {
    background-color: var(--light-bg-color);
} */

.reply-btn,
.reply-div .icon-btns {
    color: var(--dark-black-color);
    padding: 5px;
    font-size: var(--font-size-small);
    font-weight: 700;
    background-color: var(--highlight-color);
    text-decoration: none;
}

.reply-btn {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 5px;
}

/* .ellipsis-icon-div {
    position: relative;
    max-width: 200px;
}

.ellipsis-options-div {
    background-color: var(--white-color);
    position: absolute;
    top: 105%;
    border-radius: 3px;
    width: 160px;
    font-size: var(--font-size-medium);
    z-index: 99;
}

.ellipsis-dropdown {
    display: none;
    list-style-type: none;
    width: 100%;
    text-align: center;
}

.ellipsis-icon-div:hover .ellipsis-dropdown,
.reply-div:hover .options-list {
    display: block;
}

.down-icon {
    border-radius: 0px 5px 5px 0px;
    border-left: 1px solid var(--white-color);
} */

/* .page-zoom {
    position: absolute;
    top: 10px;
    left: 20px;
    rotate: 90deg;
}


.timer {
    margin-right: 5px;
    display: inline-block;
    border: 1px solid var(--light-color);
}

.reset-icon {
    position: relative;
} */

/* .tooltip-text {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
} */

/* .reset-icon:hover .tooltip-text {
    visibility: visible;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
} */

.ticket-info {
    font-size: var(--font-size-small);
}

.ticket-info span {
    margin-right: 5px;
}

.ticket-info .run-time {
    padding-left: 10px
}

.ticket-info .start-icon {
    padding: 0px 5px;
    color: var(--highlight-color);
    border-right: 1px solid var(--light-color);
    width: 20px;
    display: inline-block;
    text-align: center;
}

.content-navigation-bar {
    padding: 10px 60px 0px 60px;
}

.content-navlinks a {
    font-size: var(--font-size-small);
}

.messages-div {
    scrollbar-width: thin;
    overflow-y: auto;
    border-top: 1px solid var(--light-bg-color);
    padding-bottom: 10px;
    background-color: var(--white-color);
    flex-grow: 1;
}

.caret-down {
    cursor: pointer;
}

.messages-list {
    border-radius: 10px;
    padding: 20px 20px 20px 0px;
    display: flex;
    align-items: center;
    border: 1px solid var(--light-bg-color);
    border-inline-start: 3px solid var(--white-color);
    cursor: pointer;
    
}

.messages-list:hover {
    border-inline-start: 3px solid var(--medium-color);
    background-color: var(--whiteshade-bg-color);

}

.messages-content {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}


/* .user-profile-pic {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
}

.picture {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-top-icon {
    position: absolute;
    top: -10px;
    z-index: 99;
    left: 75%;
}

.user-container {
    margin: 0px 50px;
    padding: 15px 5px;
}

.user-info .details {
    font-size: var(--font-size-small);
    padding: 5px 10px;
} */

.ticket-id.details {
    color: var(--ticket-highlight-color);
    font-weight: 500;
    background-color: var(--ticket-status-bg-color);
    padding: 2px 5px;
    border: none;
    box-shadow: 0px 0px 1px 1px var(--ticketlist-shadow-color);
}

.message .text {
    font-size: var(--font-size-medium);
    padding: 5px 0px;
}

.text .message-link {
    text-decoration: underline;
    cursor: pointer;
    color: var(--link-color);
}
